<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uia 登录</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <style rel="stylesheet">
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #22C32E;
        }

        .login-panel {
            width: 400px;
            margin-top: 20%;
            margin-left: 60%;
            padding: 40px;
            background: #ffffff;
        }
    </style>
    <script>
        function queryParam(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        window.onload = function () {
            var username = queryParam("username") || '';
            var redirectUri = queryParam("redirect_uri") || '';
            document.querySelector("#username").value = username;
            document.querySelector("#redirect_uri").value = redirectUri;

            var errCode = queryParam("err_code");
            if (errCode) {
                var n = document.querySelector(".e" + errCode);
                n.classList.toggle("d-none");
            }

            if (errCode && errCode == '2011') {
                document.querySelector("#password").focus();
            } else {
                document.querySelector("#username").focus();
            }

            // ========================================================================
            particlesJS("particles-js", {
                "particles": {
                    "number": {
                        "value": 100
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 3,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.1,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "grab"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    }
                }
            });
        }

    </script>
</head>
<body>

<!-- particles.js container -->
<div id="particles-js"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <form action="/login" method="post">
                        <input type="hidden" id="redirect_uri" name="redirect_uri">

                        <div class="form-group row">
                            <input type="text" id="username" name="username" class="form-control" placeholder="邮箱">
                            <span class="form-text text-danger d-none e2000">帐户不存在</span>
                        </div>
                        <div class="form-group row">
                            <input type="password" id="password" name="password" class="form-control" placeholder="密码">
                            <span class="form-text text-danger d-none e2011">密码错误</span>
                        </div>

                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary btn-block">登 录</button>
                        </div>

                        <div>
                            <i class="fa fa-weixin fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="login-page">-->
<!--<div class="form">-->
<!--<form class="login-form" action="/login" method="post">-->
<!--<input type="hidden" id="redirect_uri" name="redirect_uri">-->

<!--<input type="text" id="username" name="username" placeholder="邮箱">-->
<!--<input type="password" id="password" name="password" placeholder="密码">-->

<!--<div class="error e2000 hidden">帐户不存在</div>-->
<!--<div class="error e2011 hidden">密码错误</div>-->

<!--<button type="submit">登 录</button>-->

<!--<div style="padding-top: 20px;">-->
<!--<i class="fa fa-weixin fa-2x" aria-hidden="true"></i>-->
<!--<i class="fa fa-weibo fa-2x" aria-hidden="true"></i>-->
<!--<i class="fa fa-github fa-2x" aria-hidden="true"></i>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

</body>
</html>